<div class="alert"
     data-ng-class="{'alert-danger': ctrl.flashStyle == 'error', 'alert-success': ctrl.flashStyle  == 'success'}"
     data-ng-show="ctrl.flash && ctrl.flash.length > 0">
    <h3>
        <span data-ng-switch="ctrl.flashStyle">
            <span data-ng-switch-when="error">
                Whoops!
            </span>
            <span data-ng-switch-when="success">
                Hurrah!
            </span>
        </span>
    </h3>
    <ul class="list-unstyled">
        <li data-ng-repeat="message in ctrl.flash">
            {{message}}
        </li>
    </ul>
</div>
<div class=" col-lg-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form"
                  name="loginForm">
                <fieldset>
                    <legend>Sign in</legend>
                    <div class="form-group">
                        <input class="form-control"
                               name="emailAddress"
                               placeholder="email address"
                               data-ng-model="ctrl.emailAddress"
                               required />
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               name="password"
                               type="password"
                               placeholder="password"
                               data-ng-model="ctrl.password"
                               required />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"
                                data-ng-click="ctrl.attemptSignIn()"
                                data-ng-disabled="!(loginForm.emailAddress.$valid && loginForm.password.$valid)">
                            sign in
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class=" col-lg-6 col-md-6"
     data-ng-controller="registrationController as regCtrl">
    <div data-registration-form
         data-on-register="regCtrl.register()"
         data-email-address="regCtrl.userName"
         data-password-confirmation="regCtrl.passwordConfirmation"
         data-password="regCtrl.password"></div>
</div>

