<div class="panel panel-default">
    <div class="panel-body">
        <div class="input-group">
            <input type="text" 
                   class="form-control"
                   data-ng-model="ctrl.newToDo.details">
            <span class="input-group-btn">
                <button class="btn btn-primary" 
                        type="button"
                        data-ng-click="ctrl.addToDo()"
                        data-ng-disabled="!ctrl.canAddToDo()">Add</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       data-ng-model="ctrl.showDoneToDos"
                       />
                show completed
            </label>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-default interactive"
         data-ng-click="ctrl.complete(toDo)"
         data-ng-repeat="toDo in ctrl.visibleToDos() | orderBy:'date'">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">
                    {{toDo.details}}
                </div>
                <div class="col-lg-3 text-right">
                    {{toDo.date | readableDate}}
                </div>
                <div class="col-lg-1 text-center">
                    <i class="fa fa-2x fa-check-circle text-primary"
                       data-ng-show="toDo.done" />
                </div>
            </div>
        </div>
    </div>
</div>